.heading
{
    background-color: #F7F7F7;
}
button
{
    margin-top: 10px;
}
h1, .form-group, .bottomHeading
{
    padding: 10px;
    color: #797979;
}
.form-group
{
    margin-top: 10px;
}
.break
{
    background-color: #F7F7F7;
    height: 20px;
    border-bottom: 1px solid #C9C9C9;
}

#delete
{
    font-size: 150%;
}

#add
{
    font-size: 90%;
}

.spans
{
    color: #797979;
}
.spans:hover
{
    cursor: pointer;
}

#bottomTable
{
    padding: 20px;
}
.required
{
    font-size: 40%;
}
.alerts
{
    margin-top: 5px;
}