.heading
{
    background-color: #E7E7E7;
}
button
{
    margin-top: 10px;
}
h1, .form-group
{
    padding: 10px;
    color: #797979;
}
.form-group
{
    margin-top: 10px;
}
.break
{
    background-color: #E7E7E7;
    height: 40px;
    border-bottom: 1px solid #A9A9A9;
}
