version: '3.2'

services:

  api:
    image: tripleparity/docks-api:release-0.0.2
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - db
    ports:
      - 8080:8080
    environment:
      - JWT_SECRET=changeme
      - DOCKS_DB_ADDRESS=docks-db
      - POSTGRES_PASSWORD=example

  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=example