<div class="row heading">
  <div class="col-sm-10">
    <h1>
      <i class="fa fa-book"></i>
      Volume:
      <i class="inserts"> "insert Volume name here" </i> Detail
    </h1>
  </div>
  <div class="col-sm-2 label">
    <button class="btn btn-info">
      <i class="fa fa-trash"></i> Delete</button>
  </div>
</div>

<div class="row title">
  <div class="innerTitle col-sm-12">
    <h3>General</h3>
  </div>
</div>

<div class="row">
  <table>
    <tbody>
      <tr>
        <td class="name">
          Name:
        </td>
        <td class="value">
          <i class="inserts"> "insert volume name here" </i>
        </td>
      </tr>
      <tr>
        <td class="name">
          Scope:
        </td>
        <td class="value">
          <i class="inserts"> "insert volume scope here" </i>
        </td>
      </tr>
      <tr>
        <td class="name">
          Mount Point:
        </td>
        <td class="value">
          <i class="inserts"> "insert volume mount point here" </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row title">
  <div class="innerTitle col-sm-12">
    <h3>Driver</h3>
  </div>
</div>

<div class="row">
  <table>
    <tbody>
      <tr>
        <td class="name">
          Driver Name:
        </td>
        <td class="value">
          <i class="inserts"> "insert volume driver name here" </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>