<div *ngIf="isLoaded">
  <div class="row heading">
    <div class="col-sm-10">
      <h1>
        <i class="fa fa-book"></i>
        Volume:
        <span class="detailID"> {{volumeModel.Name}} </span>
      </h1>
    </div>
    <div class="col-sm-2 label">
      <button class="btn btn-info">
        <i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>

  <div class="row title">
    <div class="innerTitle col-sm-12">
      <h3>General</h3>
    </div>
  </div>

  <div class="row">
    <table class="detailTable">
      <tbody>
        <tr>
          <td class="detailName">
            Name:
          </td>
          <td class="detailValue">
            <span class="inserts"> {{volumeModel.Name}} </span>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Scope:
          </td>
          <td class="detailValue">
            <span class="inserts"> {{volumeModel.Scope}} </span>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Mount Point:
          </td>
          <td class="detailValue">
            <span class="inserts"> {{volumeModel.Mountpoint}} </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row title">
    <div class="innerTitle col-sm-12">
      <h3>Driver</h3>
    </div>
  </div>

  <div class="row">
    <table class="detailTable">
      <tbody>
        <tr>
          <td class="detailName">
            Driver:
          </td>
          <td class="detailValue">
            <span class="inserts"> {{volumeModel.Driver}} </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row title">
    <div class="innerTitle col-sm-12">
      <h3>Labels</h3>
    </div>
  </div>

  <div class="row">
    <table class="detailTable">
      <tbody *ngFor="let key of labels; let i=index">
          <tr>
            <td class="detailName">
              {{key}}
            </td>
            <td class="detailValue">
              <span class="inserts"> {{volumeModel.Labels[key]}} </span>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>