<app-spinner [hidden]="isLoaded"></app-spinner>

<div id="serviceList">
    <div *ngFor="let service of services; let i = index">
        <div class="card ServiceListCard">
            <div class="card-header" [attr.id]="'heading-'+ i" (click)="Collapse(i)" [attr.aria-controls]="'collapse-' + i" [attr.aria-expanded]="!isCollapsed">
                <h5 class="mb-0 container-fluid">
                    <div class="row">
                        <span class="main-item col-10 heading-item">
                          <div *ngIf="service.Spec.Name !== undefined;then name else notName"></div>

                          <ng-template #name>{{service.Spec.Name}}</ng-template>
                          <ng-template #notName>ID: {{ service.ID | slice:0:6}}</ng-template>
                        </span>
                         <span class="col-2 heading-item text-right">
                            <div ngbDropdown class="d-inline-block" placement="bottom-right">
                                <button class="btn btn-outline-success" [id]="'operations-' + service.ID" ngbDropdownToggle (click)="voidParentClick($event)">Operations</button>
                                <div ngbDropdownMenu [attr.aria-labelledby]="'operations-' + service.ID">
                                    <button class="dropdown-item" [routerLink]="'/operationsServices/'+ service.ID" (click)="voidParentClick($event)"><i class="fa fa-balance-scale"></i> Scale</button>
                                    <button class="dropdown-item" [routerLink]="'/operationsServices/'+ service.ID" (click)="voidParentClick($event)"><i class="fa fa-sliders"></i> Update</button>
                                    <button class="dropdown-item" [routerLink]="'/operationsServices/'+ service.ID" (click)="voidParentClick($event)"><i class="fa fa-eye"></i> View Logs</button>
                                    <button class="dropdown-item dropdown-item-danger" (click)="loadModal(removeConfirm, service.ID, $event)"><i class="fa fa-trash-o"></i> Remove</button>
                                </div>
                            </div>
                        </span>
                    </div>
                </h5>
            </div>

            <div [attr.id]="'collapse-' + i" [ngbCollapse]="!isCollapsed[i]" [attr.aria-labelledby]="'heading-'+ i" data-parent="#serviceList">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Image: {{ service.Spec.TaskTemplate.ContainerSpec.Image }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Mode: {{ service.Endpoint.Spec.Mode }}
                    </li>

                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Replicas: {{ service.Spec.Mode.Replicated.Replicas}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Date Created: {{ this.PrettifyDateTime(service.CreatedAt) }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Last Updated: {{ this.PrettifyDateTime(service.UpdatedAt) }}

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #removeConfirm let-c="close" let-d="dismiss">
    <div id="task-modal" class="dark-modal">
        <div class="modal-header" id="remove-modal-header">
            <h4 class="warning-text">
                Warning!
            </h4>

            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-task">
            <span class="faded-text">Are you sure you want to delete service with id:</span><br/> {{ removeeId }} <span class="faded-text">?</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="removeService(removeId); c('Close click')">Remove</button>
            <button type="button" class="btn btn-outline-success" (click)="c('Close click')">Cancel</button>
        </div>
    </div>
</ng-template>