<app-spinner [hidden]="isLoaded"></app-spinner>
<div class="row heading">
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Services" aria-label="Recipient's username" aria-describedby="basic-addon2"
                (keyup)="updateFilter($event)">
            <div class="input-group-append">
                <button class="btn btn-default">
                    <span class="input-group-text" id="Search">
                        <i class="fa fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
            <ngx-datatable class="bootstrap ngx-datatable" [limit]="100" [footerHeight]="40" [columnMode]="'force'" [rows]="services" [headerHeight]="50"
            [rowHeight]="50" [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
            
            <ngx-datatable-column name="Name" prop="Spec.Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.Spec.Name}}
                </ng-template>
              </ngx-datatable-column>
        
              <ngx-datatable-column name="Image" prop="Spec.TaskTemplate.ContainerSpec.Image">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.Spec.TaskTemplate.ContainerSpec.Image}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Mode" prop="Spec.EndpointSpec.Mode">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.Spec.EndpointSpec.Mode}}
                </ng-template>
              </ngx-datatable-column>
        
              <ngx-datatable-column name="Replicas" prop="Spec.Mode.Replicated.Replicas">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.Spec.Mode.Replicated.Replicas}}
                </ng-template>
              </ngx-datatable-column>
        
              <ngx-datatable-column name="Ports" prop="Spec.EndpointSpec.Ports">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.Spec.EndpointSpec.Ports}}
                </ng-template>
              </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>