<!--TODO(FJMentz): NodeID -> NodeName or (ID if !hasName())-->

<div id="taskList">
    <div *ngFor="let task of tasks; let i = index">
        <div class="card">
            <div class="card-header" [attr.id]="'heading-'+ i" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" aria-expanded="true" [attr.aria-controls]="'collapse-' + i">
                <h5 class="mb-0">
                    <span class="main-item">
                        <div *ngIf="task.name !== undefined;then name else notName"></div>

                        <ng-template #name>{{task.name}}</ng-template>
                        <ng-template #notName>ID: {{ task.id | slice:0:6}}</ng-template>
                    </span>

                    <span class="main-item" [ngSwitch]='task.status.state.toUpperCase()'>
                        <!--NEW	The task was initialized.-->
                        <ng-template [ngSwitchCase]="'NEW'"><span class="badge badge-primary badge-pill">{{task.status.state}}</span></ng-template>

                        <!--PENDING	Resources for the task were allocated.-->
                        <ng-template [ngSwitchCase]="'PENDING'"><span class="badge badge-warning badge-pill">{{task.status.state}}</span></ng-template>

                        <!--ASSIGNED	Docker assigned the task to nodes.-->
                        <ng-template [ngSwitchCase]="'ASSIGNED'"><span class="badge badge-info badge-pill">{{task.status.state}}</span></ng-template>

                        <!--ACCEPTED	The task was accepted by a worker node. If a worker node rejects the task, the state changes to REJECTED.-->
                        <ng-template [ngSwitchCase]="'ACCEPTED'"><span class="badge badge-info badge-pill">{{task.status.state}}</span></ng-template>

                        <!--PREPARING	Docker is preparing the task.-->
                        <ng-template [ngSwitchCase]="'PREPARING'"><span class="badge badge-info badge-pill">{{task.status.state}}</span></ng-template>

                        <!--STARTING	Docker is starting the task.-->
                        <ng-template [ngSwitchCase]="'STARTING'"><span class="badge badge-info badge-pill">{{task.status.state}}</span></ng-template>

                        <!--RUNNING	The task is executing.-->
                        <ng-template [ngSwitchCase]="'RUNNING'"><span class="badge badge-success badge-pill">{{task.status.state}}</span></ng-template>

                        <!--COMPLETE	The task exited without an error code.-->
                        <ng-template [ngSwitchCase]="'COMPLETE'"><span class="badge badge-success badge-pill">{{task.status.state}}</span></ng-template>

                        <!--FAILED	The task exited with an error code.-->
                        <ng-template [ngSwitchCase]="'FAILED'"><span class="badge badge-dark badge-pill">{{task.status.state}}</span></ng-template>

                        <!--SHUTDOWN	Docker requested the task to shut down.-->
                        <ng-template [ngSwitchCase]="'SHUTDOWN'"><span class="badge badge-danger badge-pill">{{task.status.state}}</span></ng-template>

                        <!--REJECTED	The worker node rejected the task.-->
                        <ng-template [ngSwitchCase]="'REJECTED'"><span class="badge badge-danger badge-pill">{{task.status.state}}</span></ng-template>

                        <!--ORPHANED	The node was down for too long.-->
                        <ng-template [ngSwitchCase]="'ORPHANED'"><span class="badge badge-danger badge-pill">{{task.status.state}}</span></ng-template>

                        <!--REMOVE	The task is not terminal but the associated service was removed or scaled down.-->
                        <ng-template [ngSwitchCase]="'REMOVE'"><span class="badge badge-danger badge-pill'">{{task.status.state}}</span></ng-template>

                        <!--Something went wrong-->
                        <span *ngSwitchDefault><span class="badge badge-light badge-pill">Error</span></span>
                    </span>
                </h5>
            </div>

            <div [attr.id]="'collapse-' + i" class="collapse" [attr.aria-labelledby]="'heading-'+ i" data-parent="#taskList">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        ID: {{ task.id }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        NodeID: {{ task.nodeID }}
                        <!--Change to Node name as soon as Node service is implemented-->
                    </li>
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Image: {{ task.spec.containerSpec.image }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Date Created: {{ this.PrettifyDateTime(task.createdAt) }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between sub-item">
                        Last Updated: {{ this.PrettifyDateTime(task.updatedAt) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>