<h2>Create a Service</h2>
  
<div class="col-md-3">

  <form #createForm="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Service Name</label>
      <input type="text" [(ngModel)]="model.name"  class="form-control" placeholder="Name:" id="name">
    </div>

    <div class="form-group">
      <label>Service Image</label>
      <input type="text" [(ngModel)]="model.image"  class="form-control" placeholder="Image:" id="image">
    </div>

    <div class="form-group">
      <label>Service Publish Port</label>
      <input type="text" [(ngModel)]="model.publish" class="form-control" placeholder="Port:" id="publish">
    </div>

    <div class="form-group">
      <label>Service Target Port</label>
      <input type="text" [(ngModel)]="model.target" class="form-control" placeholder="Port:" id="target">
    </div>

    <a routerLink="/services/list">
      <button id="btnCancel" type="button" class="btn btn-secondary">Cancel</button>
    </a>
    <button type="submit" class="btn btn-success" [disabled]="!createForm.form.valid || submitted" >Submit</button>

  </form>
</div>