<div id="taskList">
    <div class="card-deck">
        <div *ngFor="let task of tasks; let i = index">
            <div class="card {{getState(task.status.state.toUpperCase())}}">
                <div class="card-title">
                    <h5 class="card-name">
                        <span>
                            <div *ngIf="task.name !== undefined;then name else notName"></div>
                            <ng-template #name>{{task.name}}</ng-template>
                            <ng-template #notName>ID: {{ task.id | slice:0:6}}</ng-template>
                            &nbsp;
                        </span>
                        <span class="light-container">
                            <span class="light">&emsp; </span>
                        </span>
                    </h5>



                </div>
                <div class="card-text">
                    <ul class="list-group header">
                        <li class="list-group-item">
                            <span class="text">ID:</span> {{ task.id }}
                        </li>
                        <li class="list-group-item">
                            <span class="text">NodeID:</span> {{ task.nodeID }}
                            <!--Change to Node name as soon as Node service is implemented-->
                        </li>
                        <li class="list-group-item">
                            <span class="text">Image:</span> {{ task.spec.containerSpec.image }}
                        </li>
                    </ul>
                    <div class="service">
                    </div>

                </div>

                <div class="card-footer">
                    <div class="up-date">
                        <span class="text">Last Updated: </span><br />
                        {{PrettifyDateTime(task.updatedAt) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
