.badge{
    font-size: 150%;
    width: 100%;
}

.card-footer, .card-title {
    background-color: #212529;
}
.card-title{
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

.card-deck{
    margin-top: 20px;
}

.card{
    border: 4px solid #212529;
    border-radius: 10px;
}

.list-group-item:first-child{
    border-top: none;
}

.text{
    color: var(--green);
    font-size: 120%;
    font-weight: bold;
}
