#networks{
    height: 100px;
    width: 250px;
    background-color: lightgray;
    float: left;
    display: flex;
    margin: 0 auto;
    margin-right: 20px;
}

#volumes{
    height: 100px;
    width: 250px;
    background-color: lightgray;
    float: left;
    display: flex;
    margin: 0 auto;
    margin-right: 20px;
}

#tasks{
    height: 100px;
    width: 250px;
    background-color: lightgray;
    float: left;
    display: flex;
    margin: 0 auto;
}

#stats {
    display: inline-block;
}

img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    /*margin-left: 15px;*/
}
