<div class="row">
  <div class="offset-md-4">
  </div>
  <div class="col-md-4">
    <h2>Update Stack</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <form #createForm="ngForm" (ngSubmit)="submit()">

      <div class="form-group">
        <label for="stackName">Stack Name</label>
        <input disabled type="text" class="form-control" id="stackName" value= {{stackModel.stackName}}>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <ace-editor [(text)]="text" id='editor' #editor style="height:318px;" mode='yaml'>

            </ace-editor>
          </div>
          <div class="col-6">
            <label for="file">
              <h4>Select a docker-compose file: </h4>
            </label>
            <input type="file" required class="form-control-file" id="file" accept=".yml" (change)="uploadFile($event)">
          </div>

        </div>
      </div>
      
      <div class="row">
        <div class="offset-md-3">
        </div>
        <div class="col-2">
          <a routerLink="/stacks">
            <button type="button" class="btn btn-secondary "> Cancel
              <i class="fa fa-undo"></i>
            </button>
          </a>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-success" [disabled]="!createForm.form.valid"> Update Stack
            <i class="fa fa-arrow-circle-o-up"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>