mat-card-subtitle{
    font-weight: bold;
}

mat-card{
    float: left;
    margin: 4px;
    width: 220px;
    height: 400px;
    position: relative;
}

mat-card-header{
  height: 20%;
}

img.mat-card-image{
  position: relative;
  height: 200px;
  width: 200px;
  align-self: center;
  margin: auto;
}

mat-card-content{
  position: relative;
  height: 15%;
}

mat-card-actions{
  position: relative;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
