.break {
    background-color: #F7F7F7;
    height: 30px;
    border-bottom: 1px solid #C9C9C9;
    border-top: 1px solid #C9C9C9;
    margin-top: 5px;
    margin-left: 0px;
}
.required {
    font-size: 40%;
}
.alerts {
    margin-top: 5px;
}
h1, .text, .smallerText {
    padding: 5px;
    color: #797979;
}

.text, .smallerText {
    margin-left: 15px;
}

.smallerText {
    padding: 0px;
    padding-left: 5px;
    font-size: 80%;
}

.formStart {
    margin-top: 15px;
}
#add
{
    font-size: 90%;
    margin-left: 30px;
}

.spans
{
    color: #797979;
}
.spans:hover
{
    cursor: pointer;
}
.delete
{
    font-size: 150%;
}