<div class="list-group nav-list-group panel p-l-0 p-r-0"  *ngIf="isLoggedIn$ | async as isLogged">
    <!--Add items as they are implemented-->

    <a href="#" class="nav-list-group-item" routerLink="/tasks/list"><i class="fa fa-list"></i> <span class="hidden-sm-down"> Task List View</span></a>
    <a href="#" class="nav-list-group-item" routerLink="/tasks/card"><i class="fa fa-clone"></i><span class="hidden-sm-down"> Task Card View</span></a>
    <a href="#" class="nav-list-group-item" routerLink="/services/list"><i class="fa fa-list"></i><span class="hidden-sm-down"> Service List View</span></a>
    <a href="#" class="nav-list-group-item" routerLink="/services/card"><i class="fa fa-clone"></i><span class="hidden-sm-down"> Service Card View</span></a>
    <a href="#" class="nav-list-group-item" routerLink="/volumes/list"><i class="fa fa-list"></i><span class="hidden-sm-down"> Volumes List View</span></a>
    <a href="#" class="nav-list-group-item" routerLink="/volumes/card"><i class="fa fa-clone"></i><span class="hidden-sm-down"> Volumes Card View</span></a>
    <a href="#" class="nav-list-group-item" routerLink="/stacks"><i class="fa fa-database"></i><span class="hidden-sm-down"> Stacks</span></a>
    <a href="#" class="nav-list-group-item" routerLink="/users"><i class="fa fa-users"></i><span class="hidden-sm-down"> Users</span></a>


</div>