.navDocks
{
    height: 100vh;
}

.CompanyLogo
{
    height: 80px;
    background-color: var(--c-dark-background);
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    padding-top: 20px;
}
#Docks
{
    font-size: 150%;
}