<div *ngIf="isLoaded">
  <div class="row heading">
    <div class="col-sm-9">
      <h1>
        <div class="fa fa-suitcase"></div>
        Service:
        <span class="detailID"> {{serviceModel.Spec.Name}} </span>
      </h1>
    </div>
    <div class="col-sm-3 label">
      <button class="btn btn-info">
        <div class="fa fa-archive"></div> View Logs</button>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">
            <div class="fa fa-pencil"></div> Edit</button>
          <button class="dropdown-item">
            <div class="fa fa-trash"></div> Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row title">
    <div class="innerTitle col-sm-12">
      <h3>General</h3>
    </div>
  </div>

  <div class="row">
    <table class="detailTable">
      <tbody>
        <tr>
          <td class="detailName">
            ID:
          </td>
          <td class="detailValue">
            <div class="inserts"> {{serviceModel.ID}} </div>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Image:
          </td>
          <td class="detailValue">
            <div class="inserts"> {{image}}</div>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Mode:
          </td>
          <td class="detailValue">
            <div class="inserts"> {{mode}} </div>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Replicas:
          </td>
          <td class="detailValue">
            <div class="inserts"> {{replicas}} </div>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Port:
          </td>
          <td class="detailValue">
            <div class="inserts"> {{port}} </div>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Stack:
          </td>
          <td class="detailValue">
            <a href="stacks/{{stackName}}">
              <div class="detailLinks">  {{stackName}}</div>
            </a>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Created At:
          </td>
          <td class="detailValue">
            <div class="inserts"> {{PrettifyDateTime(serviceModel.CreatedAt)}} </div>
          </td>
        </tr>
        <tr>
          <td class="detailName">
            Last Modified At:
          </td>
          <td class="detailValue">
            <div class="inserts"> {{PrettifyDateTime(serviceModel.UpdatedAt)}} </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="row title">
  <div class="innerTitle col-sm-12">
    <h3>Meta</h3>
  </div>
</div>
<div class="row">
  <table>
    <tbody>
      <tr>
        <td class="name">
          Ownership:
        </td>
        <td class="value">
          <div class="inserts"> "insert service Ownership here" </div>
        </td>
      </tr>
      <tr>
        <td class="name">
          Created by:
        </td>
        <td class="value">
          <div class="inserts"> "insert service owner here" </div>
        </td>
      </tr>
      <tr>
        <td class="name">
          Used by these teams:
        </td>
        <td class="value">
          <div class="inserts"> "insert service teams here" </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


  <div class="row title">
    <div class="innerTitle col-sm-12">
      <h3>Tasks</h3>
    </div>
  </div>
</div>