<div class="row heading">
  <div class="col-sm-9">
    <h1>
      <i class="fa fa-suitcase"></i>
      Service:
      <i class="inserts"> "insert service name here" </i> Detail
    </h1>
  </div>
  <div class="col-sm-3 label">
    <button class="btn btn-info">
      <i class="fa fa-archive"></i> View Logs</button>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">
          <i class="fa fa-pencil"></i> Edit</button>
        <button class="dropdown-item">
          <i class="fa fa-trash"></i> Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="row title">
  <div class="innerTitle col-sm-12">
    <h3>General</h3>
  </div>
</div>

<div class="row">
  <table>
    <tbody>
      <tr>
        <td class="name">
          ID:
        </td>
        <td class="value">
          <i class="inserts"> "insert service id here" </i>
        </td>
      </tr>
      <tr>
        <td class="col-sm-3 name">
          Image:
        </td>
        <td class="col-sm-9 value">
          <i class="inserts"> "insert service image here" </i>
        </td>
      </tr>
      <tr>
        <td class="name">
          Mode:
        </td>
        <td class="value">
          <i class="inserts"> "insert service mode here" </i>
        </td>
      </tr>
      <tr>
        <td class="name">
          Replicas:
        </td>
        <td class="value">
          <i class="inserts"> "insert service replicas here" </i>
        </td>
      </tr>
      <tr>
        <td class="name">
          Port:
        </td>
        <td class="value">
          <i class="inserts"> "insert service port here" </i>
        </td>
      </tr>
      <tr>
        <td class="col-sm-3 name">
          Stack:
        </td>
        <td class="col-sm-9 value">
          <a href="#">
            <i class="inserts"> "insert a link to stack detail page" </i>
          </a>
        </td>
      </tr>
      <tr>
          <td class="col-sm-3 name">
            Created At:
          </td>
          <td class="col-sm-9 value">
            <i class="inserts"> "insert Service "CA date" here" </i>
          </td>
        </tr>
        <tr>
          <td class="col-sm-3 name">
            Last Modified At:
          </td>
          <td class="col-sm-9 value">
            <i class="inserts"> "insert Service "LM date" here" </i>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<!-- <div class="row title">
  <div class="innerTitle col-sm-12">
    <h3>Meta</h3>
  </div>
</div>
<div class="row">
  <table>
    <tbody>
      <tr>
        <td class="name">
          Ownership:
        </td>
        <td class="value">
          <i class="inserts"> "insert service Ownership here" </i>
        </td>
      </tr>
      <tr>
        <td class="name">
          Created by:
        </td>
        <td class="value">
          <i class="inserts"> "insert service owner here" </i>
        </td>
      </tr>
      <tr>
        <td class="name">
          Used by these teams:
        </td>
        <td class="value">
          <i class="inserts"> "insert service teams here" </i>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


<div class="row title">
  <div class="innerTitle col-sm-12">
    <h3>Tasks</h3>
  </div>
</div>