<!-- <router-outlet></router-outlet> -->

<div class="container-fluid page-container">
  
  <div class="row">
    <div class="col-md-2 col-sm-3 col-4 position-fixed left-bar">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10 col-sm-9 col-8 offset-md-2 offset-sm-3 offset-4 right-bar">
      <div class="row">
        <div class="col-md-12"> <!-- takes up the full col-md-10 not a completely full row-->
          <app-user-bar></app-user-bar>
        </div>
      </div> <!-- closes the user-bar -->
      <div class="row">
          <div class="col-md-12"> <!-- takes up the full col-md-10 not a completely full row-->
              <router-outlet></router-outlet>
          </div>
      </div>
    </div>  <!-- closes the right block of col-md-10 -->
  </div> <!-- closes the navbar-->
</div>
