<div class="container-fluid">
        <div class="row">
            <div class="col" *ngFor="let card of cards">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{card.src}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{card.title}} </h5>
                  <p class="card-text">{{card.text}}</p>
                </div>
            </div>
            </div>
        </div>
<div>

  <br><br>

  <div class="row">
      <div class="col-4">
          <canvas id="chart2" width="750" height="750"></canvas>
      </div>
  </div>
</div>