<div class="container-fluid">
    <div class="row">
        <div class="col" *ngFor="let card of cards">
            <div class="card infoCards"><h4 class="iconHeader"><i class={{card.src}}></i></h4>
                <div class="card-body">
                    <h5 class="card-title center">{{card.title}} </h5>
                    <p class="card-text center">{{card.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br><br>
        <h2>Nodes</h2>
        <div class="row">
            <div class="col-4">
                <canvas id="chart2" width="750" height="750"></canvas>
            </div>
        </div>
    </div>
</div>
