.status
{
  padding: 5px;
  width: 30%;
  text-align: center;
}
h2{
    color: #797979;
}

#headingState
{
  width: 100%;
}
a{
  color: #27548C;
  text-decoration: underline;
  text-decoration-color: #27548C;
}