<nav class="navbar navbar-expand-lg justify-content-between" *ngIf="isLoggedIn$ | async as isLogged">
    <a href="#" class="navbar-left navbar-brand"><img src="assets/logo-small-square.png" class="user-image"> Docks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <button type="button" class="btn btn-light" (click)="logout()">Logout</button>

    <!-- <form class="form-inline">
        <button>kek</button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
</nav>