<div id="serviceOperations" class="container" *ngIf="allDataFetched">
    <ngb-tabset [justify]="currentJustify">
        <ngb-tab title="Scale" class="tab-tittle">
            <ng-template ngbTabContent>
                <div class="content-container">
                    <div class="form-group">
                        <label for="replicas">Replicas:</label>
                        <input type="number" id="replicas" class="form-control" [value]="+spec.Mode.Replicated.Replicas">
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-success">Scale Service</button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Update">
            <ng-template ngbTabContent>
                <div class="content-container">
                    <div class="form-group">
                        <label for="serviceName">Name:</label>
                        <input id="serviceName" type="text" class="form-control" [value]="spec.Name">
                    </div>
                    <div class="form-group">
                        <label for="serviceName">Mode:</label>
                        <select id="serviceMode" class="form-control" [(ngModel)]="spec.EndpointSpec.Mode">
                            <option value="vip">vip</option>
                            <option value="dnsrr">dnsrr</option>
                        </select>
                      </div>
                    <div>
                        <button type="button" class="btn btn-outline-success">Update Service</button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Log">
            <ng-template ngbTabContent>
                <div class="content-container">
                    <div class="row">
                        <textarea class="textarea">{{serviceLog}}</textarea>
                        <button type="button" class="btn btn-outline-success copy-button">Copy to clipboard</button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>
</div>