<div id="serviceOperations" class="container">
    <ngb-tabset [justify]="'justified'">
        <ngb-tab title="Update">
            <ng-template ngbTabContent>
                <div>
                    update stuff
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Scale">
            <ng-template ngbTabContent>
                <div>
                    scale stuff
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="View Logs">
            <ng-template ngbTabContent>
                <div>
                    log thing
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>