<div class="row">
  <div class="offset-md-4">
  </div>
  <div class="col-md-4">
    <h2>Deploy Stack</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <form #createForm="ngForm" (ngSubmit)="submit()">

      <div class="form-group">
        <label for="stackName">Stack Name</label>
        <input type="text" [(ngModel)]="stackModel.stackName" class="form-control" id="stackName" placeholder="Insert Stack Name"
          #stackName="ngModel" required name="stackName">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <textarea rows="15" cols="40s" placeholder="View the docker file here.." required name="stackFile" [(ngModel)]="stackModel.stackFile">{{fileText}}</textarea>
          </div>
          <div class="col-6">
            <label for="file">
              <h4>Select a docker-compose file: </h4>
            </label>
            <input type="file" required class="form-control-file" id="file" accept=".yml" (change)="uploadFile($event)">

            <br/>

            <h4>Preconfigured Stacks: </h4> <br/>
            <a class="btn btn-sm btn-outline-success">
              <img src="/assets/wp-icon.png" (click)="replaceStackContents('dmVyc2lvbjogJzMuMScNCnNlcnZpY2VzOg0KICAgZGI6DQogICAgIGltYWdlOiBteXNxbDo1LjcNCiAgICAgcmVzdGFydDogYWx3YXlzDQogICAgIGVudmlyb25tZW50Og0KICAgICAgIE1ZU1FMX1JPT1RfUEFTU1dPUkQ6IHNvbWV3b3JkcHJlc3MNCiAgICAgICBNWVNRTF9EQVRBQkFTRTogd29yZHByZXNzDQogICAgICAgTVlTUUxfVVNFUjogd29yZHByZXNzDQogICAgICAgTVlTUUxfUEFTU1dPUkQ6IHdvcmRwcmVzcw0KDQogICB3b3JkcHJlc3M6DQogICAgIGRlcGVuZHNfb246DQogICAgICAgLSBkYg0KICAgICBpbWFnZTogd29yZHByZXNzOmxhdGVzdA0KICAgICBwb3J0czoNCiAgICAgICAtICI4MDAwOjgwIg0KICAgICByZXN0YXJ0OiBhbHdheXMNCiAgICAgZW52aXJvbm1lbnQ6DQogICAgICAgV09SRFBSRVNTX0RCX0hPU1Q6IGRiOjMzMDYNCiAgICAgICBXT1JEUFJFU1NfREJfVVNFUjogd29yZHByZXNzDQogICAgICAgV09SRFBSRVNTX0RCX1BBU1NXT1JEOiB3b3JkcHJlc3M=')" style="display: inline-block" height="48px">
            </a>

            <a class="btn btn-sm btn-outline-success">
              <img src="/assets/mongo-icon.png" (click)="replaceStackContents('dmVyc2lvbjogJzMuMicKc2VydmljZXM6CiAgICBtb25nbzoKICAgICAgICBpbWFnZTogbW9uZ28KICAgIG1leHByZXNzOgogICAgICAgIGltYWdlOiBtb25nby1leHByZXNzCiAgICAgICAgZGVwZW5kc19vbjoKICAgICAgICAgICAgLSAibW9uZ28iCiAgICAgICAgcmVzdGFydDogImFsd2F5cyIKICAgICAgICBwb3J0czoKICAgICAgICAgICAgLSAiODAwMTo4MDgxIgogICAgICAgIGVudmlyb25tZW50OgogICAgICAgICAgICBNRV9DT05GSUdfT1BUSU9OU19FRElUT1JUSEVNRTogYW1iaWFuY2U=')" style="display: inline-block"  height="48px">
            </a>

            <a class="btn btn-sm btn-outline-success">
              <img src="/assets/nginx-icon.png" (click)="replaceStackContents('dmVyc2lvbjogJzMnCgpzZXJ2aWNlczoKICAgIGFwcDoKICAgICAgICBpbWFnZTogbmdpbngKICAgICAgICBwb3J0czogCiAgICAgICAgICAgIC0gIjgwMDI6ODAi')" style="display: inline-block" height="48px">
            </a>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-3">
        </div>
        <div class="col-2">
          <a routerLink="/stacks">
            <button type="button" class="btn btn-secondary "> Cancel
              <i class="fa fa-undo"></i>
            </button>
          </a>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-success" [disabled]="!createForm.form.valid"> Deploy Stack
            <i class="fa fa-arrow-circle-o-up"></i>
          </button>
        </div>
        <br />
      </div>

    </form>

   <ace-editor [(text)]="text" id='editor' #editor style="height:150px;" mode='yaml'>

   </ace-editor>

  </div>
</div>
