@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/*
custom colour theme
adapted from compiax's slack theme
*/

:root{
    --c-light-background :#1180af;
    --c-dark-background : #27548c;
    --c-dark : #2C3849;
    --c-success : #94E864;
    --c-grey : #4A5664;
    --c-light : #ffffff;
    --c-text-grey : #A0A0A0;
    --c-dark-grey : var(--dark)
}

/*
status light styles
*/

.light-container{
    padding: 0.5vh;
}

.light{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

/*
card style
*/

.card-deck{
    margin-top: 20px;
}

.card-title {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px;
}

.card-footer{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: smaller;
    color: #707070;
    text-align: center;
}

.card-footer{
    background: #212529;                    /*To be changed*/
}

.card{
    margin-top: 10px;
    background: #32383E;
    border-radius: 10px;
    width: 250px;
}

.card-name
{
    color: var(--c-light);
    font-size: 100%;
    margin-top: 8px;
    text-align: center;
    padding-left: 3px;
}

.card-text, .modal-body{
    background: #32383E;                    /*To be changed*/
}

.card:hover{
    cursor: pointer;
}

.card-title{
    border: 2px solid var(--c-dark-grey);
}

/*card modal style*/

.modal-list-group{
    text-align: center;
    padding: 0;
}

.modal-list-group-item{
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #212529;
    padding: 8px;
    color: #707070;
    font-size: medium;
    list-style-type: none;
}

.modal-title, .modal-task-state {
    text-align: center;
    margin: auto;
}

#modal-header {
    color: var(--white);
    background: #212529;
}

.modal-footer{
    background: #212529;
}

.modal-textarea{
    background-color: #32383E;
    color: var(--white);
    width: 80%;
    height: 50vh;
    resize: none;
}

/*
lists styles
*/

.list-group{
    text-align: center;
}

.list-group-item{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 8px;
    color: #707070;
    font-size: smaller;
}

.text{
    color: var(--c-text-grey);
}

/*
status styles
*/

/*successful task*/
.success-card, .success-card > .card-title, .success-card > .card-footer{
    border: 2px solid var(--green);
}

.success-card > .modal-header{
    border: 3px solid var(--green);
}

.success-card > .card-title, .success-card > .modal-header{
    color: var(--green);
}

.success-card > .card-title > .card-name > .light-container > .light{
    background: var(--green);
}

/*failed task*/
.danger-card, .danger-card > .card-title, .danger-card > .card-footer{
    border: 2px solid var(--red);
}

.danger-card > .modal-header{
    border: 3px solid var(--red);
}

.danger-card > .card-title, .danger-card > .modal-header{
    color: var(--red);
}

.danger-card > .card-title > .card-name > .light-container > .light{
    background: var(--red);
}

/*complete task*/
.info-card, .info-card > .card-title, .info-card > .card-footer{
    border: 2px solid var(--info);
}

.info-card > .modal-header{
    border: 3px solid var(--info);
}

.info-card > .card-title, .info-card > .modal-header{
    color: var(--info);
}

.info-card > .card-title > .card-name > .light-container > .light{
    background: var(--info);
}

/*dead task*/
.dark-card, .dark-card > .card-title, .dark-card > .card-footer{
    border: 2px solid var(--dark);
}

.dark-card > .modal-header{
    border: 3px solid var(--dark);
}

.dark-card > .card-title, .dark-card > .modal-header{
    color: var(--dark);
}

.dark-card > .card-title > .card-name > .light-container > .light{
    background: var(--dark);
}

/*new task*/
.primary-card, .primary-card > .card-title, .primary-card > .card-footer{
    border: 2px solid var(--primary);
}

.primary-card > .modal-header{
    border: 3px solid var(--primary);
}

.primary-card > .card-title, .primary-card > .modal-header{
    color: var(--primary);
}

.primary-card > .card-title > .card-name > .light-container > .light{
    background: var(--primary);
}

/*status text*/

.text-success{
    color: var(--green);
}

.text-danger{
    color: var(--red)
}

.text-info{
    color: var(--info)
}

.text-dark{
    color: var(--dark)
}

.text-primary{
    color: var(--primary);
}



/*
bootstrap table theme
*/
.ngx-datatable.bootstrap {
    box-shadow: none;
    font-size: 13px;
}
.ngx-datatable.bootstrap .datatable-header {
    height: unset !important;
    font-weight: bold;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    vertical-align: bottom;
    padding: 0.75rem;
    border-bottom: 1px solid #d1d4d7;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
    line-height: 24px;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    vertical-align: top;
    border-top: 1px solid #d1d4d7;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
    background-color: rgba(0, 0, 0, 0.05);
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
    background-color: #1483ff;
    color: #FFF;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 0.75rem;
    text-align: left;
    vertical-align: top;
}
.ngx-datatable.bootstrap .datatable-footer {
    background: #424242;
    color: #ededed;
    margin-top: -1px;
}
.ngx-datatable.bootstrap .datatable-footer .page-count {
    line-height: 50px;
    height: 50px;
    padding: 0 1.2rem;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
    margin: 0 10px;
    vertical-align: top;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
    margin: 10px 0px;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background-color: #545454;
    font-weight: bold;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
    height: 22px;
    min-width: 24px;
    line-height: 22px;
    padding: 0;
    border-radius: 3px;
    margin: 0 3px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    vertical-align: bottom;
    color: #ededed;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-prev {
    font-size: 18px;
    line-height: 27px;
    padding: 0 3px;
}
.ngx-datatable.bootstrap .datatable-summary-row .datatable-body-row .datatable-body-cell {
    font-weight: bold;
}