<div class="row heading">
  <div class="col-sm-10">
    <h1>
      <i class="fa fa-database"></i>
      Stack:
      <i class="inserts"> "insert Stack name here" </i> Detail
    </h1>
  </div>
  <div class="col-sm-2 label">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">
          <i class="fa fa-pencil"></i> Edit</button>
        <button class="dropdown-item">
          <i class="fa fa-trash"></i> Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="row title">
  <div class="innerTitle col-sm-12">
    <h3>Services</h3>
  </div>
</div>