<!-- TODO(pwood): set up stacks in table cells -->
<div class="row heading">
  <div class="col-sm-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search Stacks" aria-label="Recipient's username" aria-describedby="basic-addon2"
        (keyup)="updateFilter($event)">
      <div class="input-group-append">
        <button class="btn btn-default">
          <span class="input-group-text" id="Search">
            <i class="fa fa-search"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="offset-sm-6 col-sm-2">
    <a routerLink="/stacks/create">
      <button type="button" class="btn btn-info">
        Deploy Stack
        <i class="fa fa-clone"> </i>
      </button>
    </a>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <ngx-datatable class="bootstrap ngx-datatable" [limit]="100" [footerHeight]="40" [columnMode]="'force'" [rows]="stacks" [headerHeight]="'auto'"
      [rowHeight]="getRowHeight" [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>

      <ngx-datatable-column name="Stack Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.stackName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Services Count">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.servicesCount}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

