.row
{
    margin-top: 30px;
}

.form-control {
    font-family: "FontAwesome"
  }
  
#Search{
    background-color:transparent;
    border: none;
}  
#ops
{
    font-size: 120%;
    color: cadetblue;
}
a:hover
{
    color: cadetblue;
}
#modal-basic-title
{
    width: 100%;
    text-align: center;
    
}
h4
{
    color: #ccc;
}
.modal-header
{
    background-color: #222;
}