<!-- Note that this page uses manual validation techniques
It was simpler than to follow the Angular way. If it needs to be reused
It can be made modular using the Angular validation techniques -->

<h2>Create User</h2>

<div class="col-md-3">

  <form #createForm="ngForm" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="model.username" class="form-control" id="username" placeholder="Username" #username="ngModel"
        required name="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="model.password" class="form-control" id="password" placeholder="Password" #password="ngModel"
        required name="password">
    </div>

    <div class="form-group">
      <label for="password2">Password</label>
      <input type="password" class="form-control" id="password2" [(ngModel)]="passwordHolder2" placeholder="Confirm password" #password2="ngModel"
        required name="password2"  [ngClass]="{'ng-invalid2': password.value !== passwordHolder2}">
      <div [hidden]="passwordHolder2 === password.value || password2.pristine" class="alert alert-danger">
        Passwords do not match
      </div>
    </div>

    <a routerLink="/users">
      <button id="btnCancel" type="button" class="btn btn-secondary">Cancel</button>
    </a>
    <button type="submit" class="btn btn-success" [disabled]="!createForm.form.valid || password.value !== password2.value">Submit</button>

  </form>
</div>