
.heading
{
    background-color: #F7F7F7;
}
button
{
    margin-top: 10px;
}
h1, .text
{
    padding: 5px;
    color: #797979;
}

.text{
    margin-left: 15px;
}

.form
{
    margin-top: 10px;
}
.break
{
    background-color: #F7F7F7;
    height: 30px;
    border-bottom: 1px solid #C9C9C9;
    margin-top: 5px;
    margin-left: 0px;
}

#delete
{
    font-size: 150%;
}

#add
{
    font-size: 90%;
    margin-left: 30px;
}

.spans
{
    color: #797979;
}
.spans:hover
{
    cursor: pointer;
}
.required
{
    font-size: 40%;
}
.alerts
{
    margin-top: 5px;
}
.checkBox
{
    padding: 5px 15px;
}
.bottom-buttons {
    margin-bottom: 15px;
}