<app-spinner [hidden]="isLoaded"></app-spinner>

<div id="taskList">
    <div class="card-deck">
        <div *ngFor="let task of tasks; let i = index">
            <div [attr.class]="'card' + ' ' + getState(task.Status.State.toUpperCase()) + '-card'" (click)="loadModal(content, task)">
                <div class="card-title">
                    <h5 class="card-name">
                        <span>
                            <div *ngIf="task.Name !== undefined;then name else notName"></div>
                            <ng-template #name>{{task.Name}}</ng-template>
                            <ng-template #notName>ID: {{ task.ID | slice:0:6}}</ng-template>
                            &nbsp; &nbsp;
                        </span>
                        <span class="light-container">
                            <span class="light"></span>
                        </span>
                    </h5>

                </div>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="text">ID:</span> {{ task.ID }}
                        </li>
                        <li class="list-group-item">
                            <span class="text">NodeID:</span> {{ task.NodeID }}
                            <!--Change to Node name as soon as Node service is implemented-->
                        </li>
                        <li class="list-group-item">
                            <span class="text">Image: </span>{{task.Spec.ContainerSpec.Image}}
                        </li>
                    </ul>
                    <div class="service">
                    </div>

                </div>

                <div class="card-footer">
                    <div>
                        <span class="text">Last Updated: </span><br />
                        {{PrettifyDateTime(task.UpdatedAt) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <!--TODO: add spinner to modal as soon as modal is off mock service -->
    <div id="task-modal">
        <div class="modal-header" id="modal-header">
            <h4 >
                <div *ngIf="modalObject.name !== undefined;then name else notName"></div>
                <ng-template #name>{{modalObject.Name}}</ng-template>
                <ng-template #notName>ID: {{ modalObject.ID | slice:0:6}}</ng-template>
            </h4>

            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modal-task">
            <ul class="modal-list-group">
                <li class="modal-list-group-item">
                    <span class="text">ID: {{modalObject.ID}}</span>
                </li>
                <li class="modal-list-group-item">
                    <span class="text">NodeID: {{modalObject.NodeID}}</span>
                    <!--Change to Node name as soon as Node service is implemented-->
                </li>
                <li class="modal-list-group-item">
                    <span class="text">Image: {{modalObject.Spec.ContainerSpec.Image}}</span>
                </li>
                <li class="modal-list-group-item">
                    <span class="text">Created date: {{PrettifyDateTime(modalObject.CreatedAt) }}</span>
                </li>
                <li class="modal-list-group-item">
                    <span class="text">Logs:</span>
                    <br/>
                    <textarea id="modalTextArea" class="modal-textarea" disabled>{{modalObjectLog}}</textarea>
                    <br/>
                    <button type="button" class="btn btn-outline-info" (click)="copyToClip()" >Copy to clipboard</button>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <h3 clss="pull-left"><span [attr.class]="'text-' + getState(modalObject.Status.State.toUpperCase())">{{modalObject.Status.State.toUpperCase()}}</span></h3>
            <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
        </div>
    </div>
</ng-template>