<h1>Create User</h1>

<form class="col-md-3">
  <div class="form-row">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" #username required>
      <div [hidden]="usernamePopulated" class="alert alert-danger">
        Username is required
      </div>
      <div [hidden]="!alreadyExists" class="alert alert-danger">
        Username already exists
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" #password required>
      <div [hidden]="passwordPopulated" class="alert alert-danger">
        Password is required
      </div>
    </div>
  </div>

  <div [hidden]="!genericError" class="alert alert-danger">
      Something went wrong
    </div>

  <div class="row">
      <a routerLink="/users"><button id="btnCancel" type="button" class="btn btn-secondary">Cancel</button></a>
      <button type="button" class="btn btn-success" (click)="submit(username.value, password.value)">Submit</button>
  </div>
</form>