<!--TODO(FJMentz): Do date stuff (commented)-->

<div id="volumeList">
  <div *ngFor="let volume of volumes; let i = index">
    <div class="card VolumeListCard">
      <div class="card-header" [attr.id]="'heading-'+ i" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" aria-expanded="true" [attr.aria-controls]="'collapse-' + i">
        <h5 class="mb-0">
                  <span class="main-item">
                      <div *ngIf="volume.Spec.Name !== undefined;then name else notName"></div>

                      <ng-template #name>{{volume.Spec.Name}}</ng-template>
                      <!--<ng-template #notName>ID: {{ volume.ID | slice:0:6}}</ng-template>-->
                  </span>
        </h5>
      </div>



      <div [attr.id]="'collapse-' + i" class="collapse" [attr.aria-labelledby]="'heading-'+ i" data-parent="#volumeList">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between sub-item">
            Image: {{ service.Spec.TaskTemplate.ContainerSpec.Image }}
          </li>
          <li class="list-group-item d-flex justify-content-between sub-item">
            Mode: {{ service.Endpoint.Spec.Mode }}
          </li>

          <li class="list-group-item d-flex justify-content-between sub-item">
            Replicas: {{ service.Spec.Mode.Replicated.Replicas}}
          </li>
          <li [attr.id]="'ports-heading-'+ i" class="list-group-item d-flex justify-content-between sub-item ports" data-toggle="collapse" [attr.data-target]="'#ports-collapse-'+ i" aria-expanded="true" [attr.aria-controls]="'ports-collapse-' + i">
            Ports:
          </li>

          <!--<div [attr.id]="'ports-collapse-'+ i" class="collapse justify-content-between" [attr.aria-labelledby]="'ports-heading-'+ i">-->
            <!--<div *ngFor="let port of service.Endpoint.Ports" class="sub-list-group-item">-->
              <!--<ul class="sub-list-group">-->
                <!--<li class="list-group-item d-flex justify-content-between sub-item">-->
                  <!--Published port: {{ port.PublishedPort }}<br>-->
                  <!--Target port: {{ port.TargetPort}}-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->

          <li class="list-group-item d-flex justify-content-between sub-item">
            Date Created: {{ service.CreatedAt }}
            <!--Date Created: {{ this.PrettifyDateTime(service.createdAt) }}-->
          </li>
          <!--<li class="list-group-item d-flex justify-content-between sub-item">-->
            <!--Last Updated: {{ service.UpdatedAt }}-->
            <!--&lt;!&ndash;Last Updated: {{ this.PrettifyDateTime(service.updatedAt) }}&ndash;&gt;-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
